
<footer class="Foot">
    <div class="box links">
      <h2>Useful Links</h2>
      <a href="#">Terms and Conditions</a> 
      <a href="#">Privacy Policy</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
      <a href="#">Blog</a>
      </div>   
  <div class="box social">
    <h2>Follow Us On Social Media</h2>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <hr class="hr">
    <p id="copyright">&copy; 2020 Made by Pratik<p>
  </div>
  <div class="box feedback">
      <h2>Feedback</h2>
      <form class="FeedBackForm" action="submit">
        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput 
            placeholder="Comment" required></textarea>
        </mat-form-field><br>
        <button mat-raised-button type="submit">Submit</button>
      </form>
  </div>
  </footer>
