<mat-tab-group mat-align-tabs="center">  
    <mat-tab label="Available">
        <form style="text-align: center;">
            <mat-form-field appearance="outline" style="width: 80%;">
                <mat-label>Search</mat-label>
                <input matInput type="text" name="search" [(ngModel)]="searchText" (keyup)="SearchData()"
                autocomplete="off" placeholder="Search Doctor By : Hospital Name / Dr. Name  / Speciality / Address">
                <button mat-icon-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 80%;">
                <mat-label>Choose Doctor Specialization</mat-label>
                <mat-select name='SelectedSpeciality' [(ngModel)]="SelectedSpeciality" (selectionChange)="ChangeSpeciality()">
                    <mat-option *ngFor="let S of Specialitys" [value]="S">
                    {{S}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <section>
                <mat-button-toggle-group [(ngModel)]="Request" (change)="ChangeRequest()" name="fontStyle">
                    <mat-button-toggle value="Pending">Pending Request</mat-button-toggle>
                    <mat-button-toggle value="Approved">Approved</mat-button-toggle>
                    <mat-button-toggle value="Not Approved">Not Approved</mat-button-toggle>
                </mat-button-toggle-group>
            </section>
        </form>
        <mat-card *ngFor="let obj of obs | async;">
            <mat-card-header>
                <mat-card-title>{{obj.Hospital_Name}}</mat-card-title>
                <mat-card-subtitle>Dr. {{obj.Full_Name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>    
            <mat-card-content>
                <table>
                    <tr>
                        <td>Speciality</td><td>:</td>
                        <td>{{obj.Speciality}}</td>
                    </tr>
                    <tr>
                        <td>Opning_Time</td><td>:</td>
                        <td>{{obj.Opning_Time}}</td>
                    </tr>
                    <tr>
                        <td>Closing_Time</td><td>:</td>
                        <td>{{obj.Closing_Time}}</td>
                    </tr>
                    <tr>
                        <td>Consultation Fee</td><td>:</td>
                        <td>{{obj.Consultation_Fee}}</td>
                    </tr>
                    <tr>
                        <td>Contact No</td><td>:</td>
                        <td>{{obj.Mobile_No}}</td>
                    </tr>
                    <tr>
                        <td>Address</td><td>:</td>
                        <td>{{obj.Address}}</td>
                    </tr>
                </table>
            </mat-card-content>    
            <mat-card-actions align='end'>
                <button mat-raised-button class="Btn"  color="warn" (click)="DeleteDoctor(obj)">Delete</button>
                <button mat-raised-button class="Btn" *ngIf="Request!='Not Approved'" color="accent" (click)="ResponseRegistrationRequest(obj,'Not Approved')">Cancel</button>
                <button mat-raised-button class="Btn" *ngIf="Request!='Approved'" color="primary" (click)="ResponseRegistrationRequest(obj,'Approved')">Accept</button>
            </mat-card-actions>
        </mat-card>
        <mat-paginator style="width: 80%; margin: auto;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-tab>
    <mat-tab label="Add">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Add Doctor</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>    
            <mat-card-content>
                <form>
                    <mat-form-field appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput type="text" name="name" [(ngModel)]="Name" required>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Mobile No.</mat-label>
                        <input matInput type="text" name="Mobile_No" [(ngModel)]="Mobile_No" required>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Speciality</mat-label>
                        <input type="text"
                        placeholder="Select Speciality"
                        matInput
                        name="Speciality" [(ngModel)]='Speciality'
                        [formControl]="myControl"
                        [matAutocomplete]="auto" required>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Hospital/Clinic Name</mat-label>
                        <input matInput  name="Hospital_Name" [(ngModel)]="Hospital_Name" type="text" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea matInput type="text" name="Address" required [(ngModel)]='Address'></textarea>
                        <button  type="button" mat-icon-button matSuffix (click)="GetAddress()">
                            <mat-icon>location_on</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Consultation Fee</mat-label>
                        <input matInput type="number" name="Consultation_Fee" [(ngModel)]="Consultation_Fee" name="Consultation_Fee" required />
                        <button  type="button" style="margin: -10px;" mat-icon-button matSuffix>
                            <span style="font-size: large; margin-top: -15px;">&#8377;</span>
                        </button>
                    </mat-form-field>
                    <div style="text-align: left; width: 75%; margin: auto;margin-bottom: 5px;padding-left: 10px;">Visit Time</div>
                    <mat-form-field style="width: 35%; margin-right: 2.5%;" appearance="outline">
                        <mat-label>Opning Time</mat-label>
                        <input matInput type="time" name="Open_Time" [(ngModel)]="Open_Time" name="Visit_Time" required />
                    </mat-form-field>
                    <mat-form-field style="width: 35%; margin-left: 2.5%;" appearance="outline">
                        <mat-label>Closing Time</mat-label>
                        <input matInput type="time" name="CTime" [(ngModel)]="Close_Time" name="Visit_Time" required />
                    </mat-form-field>
                </form>
            </mat-card-content>    
            <mat-card-actions align='center'>
                <button mat-raised-button class="Btn" (click)="AddDoctor()" color="primary">Add</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>  
</mat-tab-group>

<div *ngIf="IsProgressing" class="progress">
    <mat-spinner></mat-spinner>
</div>